absl-py==2.1.0
aiohappyeyeballs==2.4.3
aiohttp==3.11.7
aiohttp-retry==2.8.3
aiosignal==1.3.1
asgiref==3.8.1
astunparse==1.6.3
async-timeout==5.0.1
attrs==24.2.0
autobahn==24.4.2
Automat==24.8.1
autopep8==1.6.0
boto3==1.35.64
botocore==1.35.64
certifi==2024.8.30
cffi==1.17.1
channels==4.2.0
channels_redis==4.2.1
charset-normalizer==3.4.0
colorama==0.4.6
constantly==23.10.4
cryptography==43.0.3
daphne==4.1.2
dj-database-url==0.5.0
Django==5.1.3
ecdsa==0.19.0
flatbuffers==24.3.25
frozenlist==1.5.0
gast==0.6.0
google-pasta==0.2.0
grpcio==1.68.0
gunicorn==20.1.0
h5py==3.12.1
hyperlink==21.0.0
idna==3.10
incremental==24.7.2
jmespath==1.0.1
keras==3.6.0
libclang==18.1.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
ml-dtypes==0.4.1
msgpack==1.1.0
multidict==6.1.0
mysql-connector-python==9.1.0
mysqlclient==2.2.6
namex==0.0.8
numpy==2.0.2
opt_einsum==3.4.0
optree==0.13.1
packaging==24.2
pillow==11.0.0
propcache==0.2.0
protobuf==5.28.3
psycopg2-binary==2.9.10
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycodestyle==2.8.0
pycparser==2.22
pycryptodome==3.21.0
Pygments==2.18.0
PyJWT==2.10.0
pyOpenSSL==24.2.1
python-dateutil==2.9.0.post0
python-decouple==3.5
pytz==2021.3
pyzbar==0.1.9
redis==5.2.0
requests==2.32.3
rich==13.9.4
s3transfer==0.10.3
service-identity==24.2.0
six==1.16.0
sqlparse==0.4.2
tensorboard==2.18.0
tensorboard-data-server==0.7.2
termcolor==2.5.0
toml==0.10.2
tomli==2.1.0
Twisted==24.10.0
txaio==23.1.1
typing_extensions==4.12.2
tzdata==2024.2
Unipath==1.1
urllib3==2.2.3
Werkzeug==3.1.3
whitenoise==5.3.0
wrapt==1.17.0
yarl==1.18.0
zope.interface==7.1.1
